/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


.cab-type-button {
    width: 19%;
    border: 0 !important;
    font-size: 12px !important;
    margin: .5% !important;
    background-color: #ffffff !important;
    font-weight: normal !important;
    padding: 3px 2.1px !important;
    height: 50px !important;
}
.cab-type-button:hover {
    background-color: #eabf4e !important;
}
.active {
    border-radius: 10% !important;
    background-color: #eabf4e !important;
}
.container {
    padding: 0 !important;
}
.ui-input-text {
    margin: 0 !important;
}
.map-div {
    background-image: url(../img/map.png);
    height: calc(100vh - 195px);
}
.location-input {
    margin: 0 3% !important;
}
.row {
    margin: 0px !important;
}
.book-button {
    background-color: #333333 !important;
    color: yellow !important;
    font-weight: 300 !important;
}

.ui-btn-right, .ui-btn-left {
    font-size: 21.5px !important;
    color: #635a5a !important; 
    padding: 4px !important;
}
.settings-menu {
    font-size: 16px !important;
    font-weight: normal !important;
}
.settings-menu:hover {
    color: #eabf4e !important;
    background-color: #333333 !important;
    text-shadow: none !important;
}
.menu-icon {
    width: 50px
}
.settings-heading {
    font-size: 20px !important;
    font-weight: 400 !important;
    padding: 12px !important;
    background-color: #eabf4e !important;
    color: #000000 !important;
    border: none !important;
}
.profile-img {
    height: 35px;
    width: 35px;
    border-radius: 50% !important;
}
.profile-list-item {
    height: 100px;
    padding: 10px;
}
.profile-name {
    padding-left: 10px;
    font-size: 100%;
}
.cabby-header {
    background-color: #eabf4e !important;
}
.padding-0 {
    padding: 0 !important;
}
.margin-0 {
    margin: 0 !important;
}
.menu-panel .ui-panel-inner {
    padding: 0 !important;
}
.profile-name-label {
    margin: 0 !important;
}
.oib-mode-selection-label {
    display: inline-block !important;
    padding-right: 70px;
}
.settings-bar {
    background-color: #eabf4e !important;
    border: none !important;
    box-shadow: none !important;
 }
 .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
   }
 .success {
    background-color: #28a745;
 }  
 .failure {
    background-color:#ea1e05e8;
 }
 .address-panel {
    text-align: left;
    padding-left: 10px;
    font-size: 15px;
 }
 .vertical-line {
    border-left: 1px solid grey;
    height: 22px;
    margin-left: 4px;
}
.confirmation-map-div {
    background-image: url(../img/confirmation-map2.png);
    height: calc(100vh - 273px);
    background-repeat: no-repeat;
}
.fare {
    font-size: 15px;
   font-weight: 600;
}
.grey-text {
    color:grey
}
.small-text {
    font-size: 13px;
}
.medium-text {
    font-size: 15px
}
.bottom-box {
    border: 1px solid #bdbaba;
    padding: 5px;
    border-left: 0;
}
.no-right-border {
    border-right: 0px;
}
.final-map-div {
    background-image: url(../img/final-map2.png);
    height: calc(100vh - 190px);
    background-repeat: no-repeat;
    position: relative;
}
.action-div {
    position: absolute;
    bottom: 66px;
    width: 95%;
    background-color: white;
    margin: 0 10px;
    padding: 10px;
}
.ride-details {
    /* padding: 10px; */
    border-bottom: 1px solid #e4e1e1;
}
.font-weight-600 {
    font-weight: 600;
}
.action-icons-row {
    padding: 10px 0;
}

.border-right {
    border-right: 1px solid #e4e1e1;
}

.yellow-background {
    background-color: yellow;
}
#googleMap {
    height: 60vh;
    width: 100vw;
}
#confirmationMap {
    height: 62vh;
    width: 100vw;
}
#finalMap {
    height: 75vh;
    width: 100vw;
}
.estimation-div {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: white;
    margin: 0 10px;
    padding: 5px 10px;
    left: -10px;
    color: grey;
    font-weight: 600;
}

.add-div {
    position: absolute;
    bottom: 211px;
    padding: 5px 10px;
    left: 1px;

}
.action-btn-div {
    position: absolute;
    bottom: 10px;
    width: 95%;
    margin: 0 10px;
}
